Package               Version
--------------------- -----------
absl-py               1.4.0
aioice                0.9.0
aiortc                1.5.0
altair                4.2.2
attrs                 22.2.0
autopep8              2.0.2
av                    10.0.0
cachetools            5.3.0
cffi                  1.15.1
contourpy             1.0.7
cryptography          40.0.2
cycler                0.11.0
decorator             4.4.2
entrypoints           0.4
et-xmlfile            1.1.0
flatbuffers           23.1.21
fonttools             4.38.0
gitdb                 4.0.10
GitPython             3.1.31
google-crc32c         1.5.0
ifaddr                0.2.0
imageio               2.31.1
imageio-ffmpeg        0.4.8
Jinja2                3.1.2
jsonschema            4.17.3
kiwisolver            1.4.4
markdown-it-py        2.2.0
matplotlib            3.6.3
mdurl                 0.1.2
mediapipe             0.9.0.1
moviepy               1.0.3
numpy                 1.24.1
opencv-python         4.8.0.74
openpyxl              3.1.2
packaging             23.0
pandas                2.0.1
Pillow                9.4.0
proglog               0.1.10
protobuf              3.20.3
pyarrow               12.0.0
pycodestyle           2.10.0
pycparser             2.21
pydeck                0.8.1b0
pyee                  9.1.0
Pygments              2.15.1
pyinotify             0.9.6
pylibsrtp             0.8.0
Pympler               1.0.1
pyOpenSSL             23.1.1
pyparsing             3.0.9
PyQt5                 5.13.2
PyQt5-sip             12.12.1
PyQt6                 6.5.1
PyQt6-Qt6             6.5.1
PyQt6-sip             13.5.1
pyrsistent            0.19.3
python-dateutil       2.8.2
pytz-deprecation-shim 0.1.0.post0
rich                  13.3.5
smmap                 5.0.0
streamlit             1.24.1
streamlit-webrtc      0.45.1
tenacity              8.2.2
toml                  0.10.2
tomli                 2.0.1
toolz                 0.12.0
tornado               6.3.2
tqdm                  4.65.0
typing_extensions     4.5.0
tzdata                2023.3
tzlocal               4.3.1
validators            0.20.0
watchdog              3.0.0
